
/* Simulated CSS 1766282298 */
/* Based on: A CSS theme that makes everything look like a retro terminal */
:root {
    --art-simulated: 1766282298;
    --art-primary: #ff48aa;
}
body { background: #000; color: #fff; }
