
/* Simulated CSS 1765993984 */
/* Based on: A CSS theme that makes everything look like a retro terminal */
:root {
    --art-simulated: 1765993984;
    --art-primary: #ff18aa;
}
body { background: #000; color: #fff; }
