
:root {
    --art-border-radius: 16px;
    --art-font-mono: 'Fira Code', monospace;
}
.glass-panel {
    background: rgba(255, 255, 255, 0.05) !important;
    border: none;
    backdrop-filter: blur(10px);
}
* {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
